<h1>My Tasks</h1>

<br>
<br>


<div class="wrapper">
  <% @tasks.each do |task| %>
    <div class="card">
      <% if task.completed %>
      <input type="checkbox" checked />
      <% else %>
      <input type="checkbox" unchecked />
      <% end %>
      <!-- <p><strong><%= task.title %></strong></p> -->
      <%= link_to task.title, task_path(task) %>
    </div>
  <% end %>
</div>


<br>
<br>

<%= link_to "/tasks/new" do %>
<i class="fas fa-plus"></i>
<% end %>
