// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;
  background-color: #2c3848;
  padding: 50px;
}

h1, h2, h3 {
  font-family: Montserrat;
  color: white;
}

p, a {
  font-family: Open Sans;
}

p {
  color: white;
}

body > a {
  color: white;
  text-align: left;
  text-decoration: none;
  font-size: 30px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.card {
  width: 500 px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: white;
  border-radius: 3px;
  padding: 0 30px;
}

.card a {
  color: #338dec;
  padding: 0 30px 0 5px;
  text-decoration: none;
}

.new_task {
  color: white;
  display: flex;
  flex-direction: column;
}

.form_element {
  padding: 10px;
  font-family: Open Sans;
}
